.Wdate{
	background:#fff url(datePicker.gif) no-repeat right;
	cursor:pointer;
}
.Wdate2{
	border:1px solid #7f9db9; 
	background:#fff url(datePicker.gif) no-repeat right;
	cursor:pointer;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}